[Unit]
Description=MorpheneDB Live Service

[Service]
Environment=morphenenode=morphene.io/rpc
WorkingDirectory=/var/www/morphenedb/docker/live
ExecStart=/usr/bin/python3 live.py
Restart=always

[Install]
WantedBy=multi-user.target
